@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__close-button {
  display: none;
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}

@layer utilities {
  @layer components {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

body {
  font-family: "Inter", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1,
input,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
