@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.customShadow {
  text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.6);
}

.shadowText {
  text-shadow: 2px 2px 0px 0px #00000066;
}
.dark {
  background: none !important;
}

.clip {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}

.light {
  background: none !important;
}
.Toastify__close-button {
  display: none;
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}

@layer utilities {
  @layer components {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

body {
  background: url("./assets/mock-car.jpg");
  font-family: "Oswald", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1,
input,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
